
.logo img{
    height: auto;
   }

nav{
    background-color: rgba(83, 0, 139, 0.945);
    line-height: 40px;
    font-size: 20px;
    text-align: left;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover{
    background-color: violet;

}